<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" text="text/css" href="../static/styleRegister.css">
</head>

<body>
    <div class="bg-image"></div>
    <div class="content">

        <div class="registration"></div>
        <h2>Register</h2>

        <form method="POST">
            </br>
            </br>
            </br>
            <a>UserName</a>
            </br>
            <input id="round" class="form-control" placeholder="Desired UserName" name="Username">
            </br>
            </br>
            <a>Password</a>
            </br>
            <input id="round" class="form-control" placeholder="Desired Password" name="Password" , type="Password">
            </br>
            </br>
            <a>Extra</a>
            </br>
            <input id="round" class="form-control" placeholder="Desired Extra" name="Extra">
            </br>
            </br>
            <input id="submit" type="Submit" value="Sign up">
            </br>
            </br>
            </br>
            <a id="submit" href="/">Cancel</a>
        </form>
    </div>

    </div>

    <a>©2021 Aqua Cuidado. All rights reserved | Design by </a>
    <a id="color">4j's</a>
</body>

</html>